In [8]:
# Combining or merging the dataframes
import pandas as pd 

d1=pd.DataFrame({
    "keys":['a','b','c','c','d','e'],
    "num1":range(6)
})
d2=pd.DataFrame({
    "keys":['b','c','e','F'],
    "num2":range(4)
})
print(d1)
print(d2)

  keys  num1
0    a     0
1    b     1
2    c     2
3    c     3
4    d     4
5    e     5
  keys  num2
0    b     0
1    c     1
2    e     2
3    F     3

In [5]:
#merge d1 and d2
pd.merge(d1,d2) #Inner join :Gets common data from both the tables

  keys  num1  num2
0    a     0     0
1    d     4     1
2    e     5     2

In [6]:
#get all the information from the first table and matched the table.
pd.merge(d1,d2,how="left")

  keys  num1  num2
0    a     0   0.0
1    b     1   NaN
2    c     2   NaN
3    c     3   NaN
4    d     4   1.0
5    e     5   2.0