In [1]:
# Importing and exporting the data
import pandas as pd
df=pd.read_csv("Dataset/Movie.csv") # read the csv file by using pandas
df.head() #read the first 5 rows of the df

,MovieID,Title,Genre,Director,Year,Rating,Duration,Actor
0,1,Inception,Sci-Fi,Christopher Nolan,2010,8.8,148,Salaman khan
1,2,The Godfather,Crime,Sam robert,1972,9.2,175,Shahruk khan
2,3,Parasite,Thriller,Bong Joon-ho,2019,8.6,132,Duffy
3,4,Interstellar,Sci-Fi,Christopher Nolan,2014,8.6,169,Witcher
4,5,Titanic,Romance,James Cameron,1997,7.9,195,Cirila

In [17]:
#export or convert the df into excel format.
df.to_excel("sample.xlsx")

In [18]:
# read the excel file by using pandas
rd=pd.read_excel("sample.xlsx")
rd.tail()

,Unnamed: 0,MovieID,Title,Genre,Director,Year,Rating,Duration,Actor
5,5,6,The Shawshank Redemption,Drama,Frank Darabont,1994,9.3,142,Yennefer
6,6,7,The Dark Knight,Action,Christopher Nolan,2008,9.0,152,Tissya
7,7,8,Forrest Gump,Drama,Robert Zemeckis,1994,8.8,142,Jake
8,8,9,Avatar,Sci-Fi,James Cameron,2009,7.8,162,Daemon
9,9,10,La La Land,Musical,Damien Chazelle,2016,8.0,128,Rhaenrya

In [19]:
#convert the export the excel file into json format
rd.to_json("sample.xlsx")

In [21]:
#read the json file
jsn=pd.read_json("sample.xlsx")
jsn.head()

,Unnamed: 0,MovieID,Title,Genre,Director,Year,Rating,Duration,Actor
0,0,1,Inception,Sci-Fi,Christopher Nolan,2010,8.8,148,Salaman khan
1,1,2,The Godfather,Crime,Sam robert,1972,9.2,175,Shahruk khan
2,2,3,Parasite,Thriller,Bong Joon-ho,2019,8.6,132,Duffy
3,3,4,Interstellar,Sci-Fi,Christopher Nolan,2014,8.6,169,Witcher
4,4,5,Titanic,Romance,James Cameron,1997,7.9,195,Cirila

In [9]:
# check the size of df
df.size  #No of rows

80

In [22]:
# check the shape of df
df.shape

(10, 8)

In [23]:
# check the columns of df
df.columns

Index(['MovieID', 'Title', 'Genre', 'Director', 'Year', 'Rating', 'Duration',
       'Actor'],
      dtype='object')

In [10]:
# check the overall information about the data
df.info

<bound method DataFrame.info of    MovieID                     Title     Genre           Director  Year  \
0        1                 Inception    Sci-Fi  Christopher Nolan  2010
1        2             The Godfather     Crime         Sam robert  1972
2        3                  Parasite  Thriller       Bong Joon-ho  2019
3        4              Interstellar    Sci-Fi  Christopher Nolan  2014
4        5                   Titanic   Romance      James Cameron  1997
5        6  The Shawshank Redemption     Drama     Frank Darabont  1994
6        7           The Dark Knight    Action  Christopher Nolan  2008
7        8              Forrest Gump     Drama    Robert Zemeckis  1994
8        9                    Avatar    Sci-Fi      James Cameron  2009
9       10                La La Land   Musical    Damien Chazelle  2016

   Rating  Duration          Actor
0     8.8       148   Salaman khan
1     9.2       175  Shahruk khan
2     8.6       132         Duffy
3     8.6       169        Witcher
4     7.9       195        Cirila
5     9.3       142       Yennefer
6     9.0       152         Tissya
7     8.8       142           Jake
8     7.8       162         Daemon
9     8.0       128       Rhaenrya  >

In [11]:
#check the datatype of df
df.dtypes

MovieID       int64
Title        object
Genre        object
Director     object
Year          int64
Rating      float64
Duration      int64
Actor        object
dtype: object

In [12]:
#how to describe overall data according to statistics.
df.describe

<bound method NDFrame.describe of    MovieID                     Title     Genre           Director  Year  \
0        1                 Inception    Sci-Fi  Christopher Nolan  2010
1        2             The Godfather     Crime         Sam robert  1972
2        3                  Parasite  Thriller       Bong Joon-ho  2019
3        4              Interstellar    Sci-Fi  Christopher Nolan  2014
4        5                   Titanic   Romance      James Cameron  1997
5        6  The Shawshank Redemption     Drama     Frank Darabont  1994
6        7           The Dark Knight    Action  Christopher Nolan  2008
7        8              Forrest Gump     Drama    Robert Zemeckis  1994
8        9                    Avatar    Sci-Fi      James Cameron  2009
9       10                La La Land   Musical    Damien Chazelle  2016

   Rating  Duration          Actor
0     8.8       148   Salaman khan
1     9.2       175  Shahruk khan
2     8.6       132         Duffy
3     8.6       169        Witcher
4     7.9       195        Cirila
5     9.3       142       Yennefer
6     9.0       152         Tissya
7     8.8       142           Jake
8     7.8       162         Daemon
9     8.0       128       Rhaenrya  >

In [16]:
# Check the 5-last row of the data frame.
df.tail()

,MovieID,Title,Genre,Director,Year,Rating,Duration,Actor
5,6,The Shawshank Redemption,Drama,Frank Darabont,1994,9.3,142,Yennefer
6,7,The Dark Knight,Action,Christopher Nolan,2008,9.0,152,Tissya
7,8,Forrest Gump,Drama,Robert Zemeckis,1994,8.8,142,Jake
8,9,Avatar,Sci-Fi,James Cameron,2009,7.8,162,Daemon
9,10,La La Land,Musical,Damien Chazelle,2016,8.0,128,Rhaenrya

In [14]:
# check the null value in the dataframe
df.isnull().sum()

MovieID     0
Title       0
Genre       0
Director    0
Year        0
Rating      0
Duration    0
Actor       0
dtype: int64